/* ==================================================
GENERAL
================================================== */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 0.1rem;
  position: relative;
}
a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgba(255,255,255,0.3);
  z-index: -1;
  transition: transform 0.3s ease;
  transform: scaleY(0);
  transform-origin: bottom left;
}
a:hover {
  transition: 0.3s;
  color: #55FFF2;
}
a:hover::before {
  transform: scaleY(1);
  border-bottom: 5px solid white;
  /* transform-origin: bottom left; */
}
li {
  list-style: none;
}
html {
  background: black;
}
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(117.81deg, #000000 10.91%, #000000 27.37%, #1C5060 83.44%);
}
section {
  width: 100vw;
  box-sizing: border-box;
  padding-top: 3rem;
}
section > header {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #55FFF2;
  font-size: calc(2.5rem + 2.4vw);
  font-weight: 400;
}
h2 {
  background: black;
  padding: 0.8rem 1rem;
  font-size: calc(1rem + 1vw);
  color: white;
  font-weight: 400;
  border: 1px solid #55FFF2;
}
h2 > span {
  color: #55FFF2;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-size: 0.8em;
  opacity: 0.3;
  margin: 0.1em;
}
h3 {
  font-size: calc(1rem + 2vw);
  color: white;
  font-weight: 400;
}
.microchipEndings {
  width: 2rem
}
@media all and (min-width: 650px) {
  h2 {
    font-size: calc(2rem + 1.5vw);
  }
  .microchipEndings {
    width: calc(2rem + 1.5vw);
  }
}
