/* ==================================================
OTHER
================================================== */
#other {
}
#other > article {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 3rem;
}
#other h3 {
  margin: auto;
  text-align: center;
  font-size: calc(1rem + 2.5vw);
}
#other h4 {
  color: #55FFF2;
  font-size: calc(1rem + 1vw);
}

.CSSochGames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.CSSochGames video {
  margin-top: 2rem;
  width: 60vw;
  opacity: 0;
}
.CSSochGames.animate video {
  animation: cardFadeIn 1s both;
}
.CSSochGames .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  margin-top: 2rem;
  padding: 0 5vw;
  text-align: center;
}
.CSSochGames .container article {
  margin: auto;
  opacity: 0;
  margin-bottom: 1rem;
}
.CSSochGames .container article.animate {
  animation: textFadeInSlow 1.5s both;
}
.CSSochGames .container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.CSSochGames .container .bottom {
  position: relative;
}
.CSSochGames .container p {
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: lighter;
}
.CSSochGames img.base-trees {
  width: 100vw;
  margin-top: -3vw;
}
/* Floating Assets */
.CSSochGames img.Uranus, .CSSochGames img.ISS, .CSSochGames img.Neptune, .CSSochGames img.Asteroids {
  position: absolute;
  opacity: 0;
}
.CSSochGames img.Uranus {
  top: -2vw;
  left: 3vw;
  width: 15vw;
}
.CSSochGames.animate img.Uranus {
  animation: FadeInLeft 1.5s ease-in-out both, 1.5s ease-in-out 1.5s infinite alternate Uranus;
}
.CSSochGames img.ISS {
  top: -2vw;
  right: 3vw;
  width: 15vw;
}
.CSSochGames.animate img.ISS {
  animation: FadeInUp 1.5s ease-in-out both, 2s ease-in-out 1.5s infinite alternate ISS;
}
.CSSochGames img.Neptune {
  left: 3vw;
  width: 15vw;
  top: 1vw;
  display: none;
}
.CSSochGames .bottom.animate img.Neptune {
  animation: FadeInLeft 1.5s ease-in-out both, 1.5s ease-in-out 1.5s infinite alternate Neptune;
}
.CSSochGames img.Asteroids {
  right: -2vw;
  width: 10vw;
  display: none;
}
.CSSochGames img.asteroid2 {
  width: 8vw;
  right: 8vw;
  top: 6vw;
}
.CSSochGames .bottom.animate img.Asteroids {
  animation: FadeInRight 1.5s ease-in-out both, 20s linear 1.5s infinite Asteroids;
}

.GeneticAlgorithm .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  margin-top: 2rem;
  padding: 5vw;
  padding-top: 0;
  padding-bottom: calc(5vw + 1rem);
}
.GeneticAlgorithm .container > div {
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  display: none;
}
.GeneticAlgorithm .container > p {
  /* margin-top: 2rem; */
  font-size: 1rem;
  color: white;
  text-align: center;
  padding: 0 0.5rem;
  line-height: 1.5;
  font-weight: lighter;
  opacity: 0;
}
.GeneticAlgorithm.animate .container p {
  animation: textFadeInSlow 1.5s both;
}

@media all and (min-width: 480px) {
  .GeneticAlgorithm .container > p {
    font-size: 1.3rem;
    padding: 0 2rem;
  }
  .CSSochGames p {
    font-size: 1.3rem;
    padding: 0 2rem;
  }
}
@media all and (min-width: 650px) {
  .CSSochGames .container article {
    width: 50%;
  }
  .CSSochGames .container .top {
    flex-direction: row;
  }
  .CSSochGames img.Neptune, .CSSochGames img.Asteroids {
    display: block;
  }
}
@media all and (min-width: 800px) {
  .CSSochGames .container p {
    font-size: 1.2rem;
  }
}
@media all and (min-width: 900px) {
  .CSSochGames .container p {
    font-size: 1.4rem;
  }
  .GeneticAlgorithm .container div {
    display: block;
  }
  .GeneticAlgorithm .container p {
    display: block;
    width: 40%;
    font-size: 1rem;
  }
}
@media all and (min-width: 1000px) {
  .GeneticAlgorithm .container p {
    font-size: 1.2rem;
  }
  .CSSochGames p {
    font-size: 1.4rem;
  }
}
